<!DOCTYPE html>
<html>
  <head>
    <title>Shoes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/vue.js"></script>

  </head>
  <body>
    <div id="app">
      <h1> {{ data.title }} </h1>
      <ul>
        <li v-for="shoe in shoes">
          {{ shoe.brand }} - {{ shoe.size }}
        </li>
      </ul>
    </div>
    <script src="/javascripts/vueApp.js"></script>
  </body>
</html>
